:root{
  --big-padding: 20px;
  --small-padding: 10px;
}

body{ position: relative;
margin: 0px 0px;
a{text-decoration: none;}
}

button{
  cursor: pointer;
}

#myModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

.modal-content-container{
  position: relative;
  top: 20px;
  border-radius: 20px;
  background-color: darkslategrey;
  overflow: none;
}

.modal-title{
  position: relative;
  display: block;
  padding: 30px 30px 0;
}

.modal-title h2{
  text-align: center;
 }

 

.modal-content {
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#closeModal{
  justify-self: right;
}

.modal-close-button{
   top: 0;
   right: 0;
   position: absolute;
   justify-content: right;
   border-radius: 0 20px 0 20px;
   border-style: none;
   width: 40px;
   height: 40px;
   font-size: 1.5rem;
   font-weight: 700;
   cursor: pointer;
   background-color: lightgrey;
}

body.modal-open {
  overflow: hidden;
}

#loginModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

#loginUsername{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#loginPassword{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#loginButton{
  position: relative;
  left: 70px;
  height: 40px;
  margin: 10px 0;
}

#showRegisterModal{
  cursor: pointer;
  color: oldlace;
}

#registrationModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

#fullName{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#email{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#newPassword{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#confirmPassword{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#registerButton{
  position: relative;
  left: 70px;
  height: 40px;
  margin: 10px 0;
}

#showLoginModal{
  cursor: pointer;
  color: oldlace;
}
header{
  background-color: lightgrey;
  padding-bottom: var(--big-padding);
}

#first-header{
  display: flex;
  background-color: darkgray;
  color: white;
  align-items: center;
  padding: var(--small-padding) var(--big-padding);
  height: 40px;
}

#first-header a{
  color: white;
}

#header-random-read{
  margin-right: auto;
   cursor: pointer;
}

#socila-media :nth-child(3){
  margin-left:var(--small-padding) ;
  margin-right: var(--small-padding);
}

#socila-media :nth-child(2){
  margin-left:var(--small-padding) ;
  margin-right: var(--small-padding);
}

#dark-mode-container{
  display: flex;
  align-items: center;
  height: 80%;
 padding-left: calc(var(--small-padding)*4);
  margin-left: var(--big-padding);
   border-left: solid;
  border-width: 0.5px;
}

.dark-mode{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#dark-mode-icon-container{
  margin-right: var(--small-padding);
}

.dark-body .chapter-content{
  background-color: #1a1a1a;
}

.dark-body #first-header{
background-color: yellow;
}

.sub-header{
  display: flex;
  align-items: center;
  padding: var(--small-padding) var(--small-padding);
  justify-content: space-between;
}

.header-logo {
  padding: 0px var(--big-padding) ;
  }

.header-logo img {
  height: 100px;
  width: 100px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-right: 80px;
}

.dropdown-btn {
  background-color: inherit;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  pointer-events: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px 10px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  border-radius: 5px 5px;
  margin: 20px;
  display: block;
  transition:background-color 0.3s ease;
}

.dropdown-container :hover .dropdown-btn{
 color: yellow;
}

.dropdown-content a:hover {
  background-color: lightgrey; 
}

.dropdown-container:hover .dropdown-content {
  display: block;}

#search-icon{
  display: none;
}

.search-container{
  width: 350px;
  display: flex;
  vertical-align: center;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.comic-search{
  height: 40px;
  width: 90%;
  border-style: none;
  padding: var(--small-padding);
}

#comic-search-bar input:focus {
  border: none;
  outline: none; 
}

#search-icon2{
  height: 100%;
  background-color:white;
}

#subscriber-button{
  cursor: pointer;
}

.search-container2{
  display: none ;
}

.suggestion-slide {
  display: none;
  margin: 20px 20px 20px 20px;
  position: relative;
  overflow: hidden;
  height: 450px;
} 
.blurry-image{
  filter: blur(1.5px);
  zoom: 5.5;
  transform: translateY(-100px) ; 
}
.blurry-background {

  height: 445px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: filter 1s ease; 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  /* border:solid pink; */
  
}
.suggestion-wrapper{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2,auto);
  top: 0;
  justify-content: space-between;
  /* border: solid yellow; */
  width: 99.5%;
  height: 99%;
  overflow: hidden;
  
}
.slide-details{
  /* border: solid; */
  display: grid;
  width: 400px;
  justify-content: center;
  height: 100%;
  /* align-items:center; */
}

.slide-title{
  /* border: solid pink; */
  font-size: 40px;
  align-self: center;
  margin-top: 20px;
}

.slide-poster{
   
  padding-right: 175px;
  padding-left: 100px;
  height: 100%;
  overflow: hidden;
  transition: transform 2s ease-in-out;
}
  


.slide-poster img{
  transform: rotate(15deg) translateY(-80px);
  border: solid white;
  border-width: 0px 20px 0px 20px;
  width: 350px;
  height: 600px;
  
  

}

.slide-buttons{
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 20px;
  width: 300px;
  
  /* border:solid green; */
}

.slide-buttons button{
  
    /* border-style: solid; */
    border-style: solid;
   
    width: 100%;
    height: 50px;
    background-color: yellow;
    border-radius: 5px 5px/ 5px 5px;
  
}


main{
  padding: var(--small-padding) var(--big-padding);
}

#rec-list{
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: var(--big-padding) 0px;
}

.rec-comic-card{
  position: relative;
  /* overflow: hidden; */
}

.rec-poster{
  position: relative;
  overflow: hidden;
  margin-bottom: var(--small-padding);
  
}

.rec-comic-card :hover .hover-card{
  opacity: 0.95;
  transform: scale(1);  
}

.hover-card{
  position: absolute;
  display: grid;
  grid-template-rows:60% 10% 10%;
  grid-template-columns:60% ;
  justify-content: center;
  align-items:center;
  gap: 1%;
  inset: 0;
  text-align: center;
  background-color: red;
  opacity: 0;
  zoom: none;
  transition: transform 0.3s ease, opacity 0.3s ease; 
  transform-origin: center;
  transform: scale(1.1);
}

.hover-card-title{
  font-size: 25px;
  color: white;
}

.hover-card button{
  /* border-style: solid; */
  border-style: solid;
  height: 100%;
  width: 100%;
  background-color: yellow;
  border-radius: 5px 5px/ 5px 5px;
}

.info-button, .read-button{
  align-self: normal;
}

.info-button :hover{
 background-color: yellowgreen;
}
.read-button :hover{
  background-color: white;
}


#latest-list{
  display: grid;
  grid-template-columns:repeat(3,auto);
  gap:20px;
  margin: var(--big-padding) 0px calc(var(--big-padding)*7);
}

@media only screen and (max-width: 1100px){
  #latest-list{
    display: grid;
    grid-template-columns:repeat(2,auto);
    gap:20px;
    margin: var(--big-padding) 0px calc(var(--big-padding)*7);
  }
}

@media only screen and (max-width: 750px){
  #latest-list{
    display: grid;
    grid-template-columns:repeat(1,auto);
    grid-template-rows: auto;
    gap:20px;
    margin: var(--big-padding) 0px calc(var(--big-padding)*7);
  }
  .comic-card {
    grid-template-rows: 400px;
    
  }
  
}

.comic-card{
  display:grid;
  grid-template-columns: repeat(2,1fr);  
  border-radius: 20px 20px;
  background-color: rgb(250, 250, 250); 
  padding: var(--small-padding);
}

.poster{
  padding: var(--small-padding);
}

.poster img{
  width:100%;
  height: 100%;
}

.comic-detail{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  position: relative;
  height: auto;
  margin: 0px var(--big-padding);
  
}

.comic-name{
  padding: var(--big-padding) 0px;
  font-size: 1.5em;
}

.chapters{
  padding-bottom: 5px;
  border-bottom: 1px dashed lightgray;
  margin: 20px 0px;
}

footer{
  background-color: lightgray;
  padding: calc(var(--small-padding)*1.5) var(--big-padding) calc(var(--big-padding)*3) 0px;
}

.footer-logo{
  text-align: center;
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
}

.footer-logo a{
  display: inline-block;
}

.footer-logo img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.other-webpages{
  display: flex;
  justify-content: space-evenly;
}

.copyright{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media only screen and (min-width: 1300px){
  .search-container2{
    display: none !important ;
  }
}


@media only screen and (max-width: 1300px)
{
   

    #search-icon{
    display: block;
  }
  .search-container{
    display: none;
  }
  .sub-header{
   position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,auto);
    grid-template-areas: 
        "item1 item2 item3 item4 item5"
        "item6 item6 item6 item6 item6";
    
    
    padding: var(--small-padding) var(--small-padding);
    justify-content: space-between;
  }
  .search-container2{
    
    display: flex;
    justify-content: center;
    top: 145px;
    height: 50px;
    position:absolute;
    width: 100%;
    background-color:lightgrey;
    overflow: hidden;
  
  }

  .comic-search{
    height: 40px;
    width: 90%;
    border-style: none;
    padding: var(--small-padding);
    border-radius: 10px 10px 10px 10px;
    
  }

  #search-icon2{
    display: none;
   background-color: white;
   position: relative;
   top: 0px;
}
.suggestion-slide {
  margin-top: 70px;
}
@media only screen and (max-width: 730px){      
.footer-logo{
padding-top: 10px;
padding-bottom: var(--big-padding);
}
}

@media only screen and (max-width: 575px){
#socila-media{
display: none;
}
}
