:root{
  --big-padding: 20px;
  --small-padding: 10px;
}

body{ position: relative;
margin: 0px 0px;
a{text-decoration: none;}
}

button{
  cursor: pointer;
}

#myModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

.modal-content-container{
  position: relative;
  top: 20px;
  border-radius: 20px;
  background-color: darkslategrey;
  overflow: none;
}

.modal-title{
  position: relative;
  display: block;
  padding: 30px 30px 0;
}

.modal-title h2{
  text-align: center;
 }

 

.modal-content {
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#closeModal{
  justify-self: right;
}

.modal-close-button{
   top: 0;
   right: 0;
   position: absolute;
   justify-content: right;
   border-radius: 0 20px 0 20px;
   border-style: none;
   width: 40px;
   height: 40px;
   font-size: 1.5rem;
   font-weight: 700;
   cursor: pointer;
   background-color: lightgrey;
}

body.modal-open {
  overflow: hidden;
}

#loginModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

#loginUsername{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#loginPassword{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#loginButton{
  position: relative;
  left: 70px;
  height: 40px;
  margin: 10px 0;
}

#showRegisterModal{
  cursor: pointer;
  color: oldlace;
}

#registrationModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

#fullName{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#email{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#newPassword{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#confirmPassword{
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 0;
}

#registerButton{
  position: relative;
  left: 70px;
  height: 40px;
  margin: 10px 0;
}

#showLoginModal{
  cursor: pointer;
  color: oldlace;
}

header{
  background-color: lightgrey;
  padding-bottom: var(--big-padding);
}

#first-header{
  display: flex;
  background-color: darkgray;
  color: white;
  align-items: center;
  padding: var(--small-padding) var(--big-padding);
  height: 40px;
}

#first-header a{
  color: white;
}

#header-random-read{
  margin-right: auto;
   cursor: pointer;
}

#socila-media :nth-child(3){
  margin-left:var(--small-padding) ;
  margin-right: var(--small-padding);
}

#socila-media :nth-child(2){
  margin-left:var(--small-padding) ;
  margin-right: var(--small-padding);
}

#dark-mode-container{
  display: flex;
  align-items: center;
  height: 80%;
 padding-left: calc(var(--small-padding)*4);
  margin-left: var(--big-padding);
   border-left: solid;
  border-width: 0.5px;
}

.dark-mode{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#dark-mode-icon-container{
  margin-right: var(--small-padding);
}

.dark-body .chapter-content{
  background-color: #1a1a1a;
}

.dark-body #first-header{
background-color: yellow;
}

.sub-header{
  display: flex;
  align-items: center;
  padding: var(--small-padding) var(--small-padding);
  justify-content: space-between;
}

.header-logo {
  padding: 0px var(--big-padding) ;
  }

.header-logo img {
  height: 100px;
  width: 100px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-right: 80px;
}

.dropdown-btn {
  background-color: inherit;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  pointer-events: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px 10px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  border-radius: 5px 5px;
  margin: 20px;
  display: block;
  transition:background-color 0.3s ease;
}

.dropdown-container :hover .dropdown-btn{
 color: yellow;
}

.dropdown-content a:hover {
  background-color: lightgrey; 
}

.dropdown-container:hover .dropdown-content {
  display: block;}

#comic-search-bar{
}

#search-icon{
  display: none;
}

.search-container{
  width: 350px;
  display: flex;
  vertical-align: center;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.comic-search{
  height: 40px;
  width: 90%;
  border-style: none;
  padding: var(--small-padding);
}

#comic-search-bar input:focus {
  border: none;
  outline: none; 
}

#search-icon2{
  height: 100%;
  background-color:white;
}

#subscriber-button{
  cursor: pointer;
}

.search-container2{
  display: none ;
}

#info-wrapper{
  display: grid;
  grid-template-columns: repeat(3,auto);
  background-color: rgb(127, 124, 124);
  padding: calc(var(--big-padding)*4) var(--big-padding);
}

.comic-img img{
  height: 280px;
  width: 180px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  }
  
.comic-detail{
  width:600px;
  height: 100px;
}

.read-save-button{
  display: grid;
  grid-template-columns: repeat(2,auto);
}

.read-container button{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
}

.bookmark-container{
  margin-right: 380px;
  border-radius: 10px;
}

.bookmark-container button{
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  background-color: white;
}

#description{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#comic-vid-detail{
  display: grid; 
  margin-left: 50px;
}

#comic-extra-details{
 margin-bottom: 50px;
}

#trailer{
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border-left: solid white;
  overflow: hidden;
}

#trailer video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}   

#details-toggle{
  display: none;
}

#main-content-wrapper{
  padding: var(--big-padding) var(--big-padding);
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
}

.chapter-content{
  background-color: gainsboro;
  margin-right: var(--small-padding);
}

#chapter-list-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chapter{
  margin: var(--small-padding);
}

#chapter-search-bar{
  height: 50px;
  display: flex;
  align-items: center;
  }

.chapter-search-container{
  margin-right: var(--big-padding);
  padding-left: var(--small-padding) ;
  background-color: grey;
  border-radius: 2px;
  overflow: hidden;
}

#chapter-search{
  height: 100%;
  width: auto;
  background-color:grey;
  border-style: none;
  padding: var(--small-padding) ;
}

#chapter-search-bar input:focus {
  border: none;
  outline: none;
}
     
.chapter-list{
    display: grid;
    gap: 2px;
}

.chapters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--big-padding) var(--small-padding);
    background-color: darkgray;
    border-left: solid darkgray;
}

.chapters:hover{
  background-color: gray;
  border-left: solid purple;
}

.chapters button{
  margin-right: var(--small-padding);
  border-radius: 5px;
  height: 25px;
  border: none;
}
    
.chapters:hover button{
 background-color:red;
 border: none;
 margin-right: var(--small-padding);
}

.recommended-list{
  display: grid;
  gap: var(--small-padding);
}

.recommended-heading{
  text-transform: capitalize;
}

.recommended-card{
  display: grid;
  gap: 10px;
  grid-template-columns: 38% 62%;
}

footer{
  background-color: lightgray;
  padding: calc(var(--small-padding)*1.5) var(--big-padding) calc(var(--big-padding)*3) 0px;
}

.footer-logo{
  text-align: center;
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
}

.footer-logo a{
  display: inline-block;
}

.footer-logo img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.other-webpages{
  display: flex;
  justify-content: space-evenly;
}

.copyright{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media only screen and (min-width: 1300px){
  .search-container2{
    display: none !important ;
  }
}

@media only screen and (max-width: 1300px)
{
   
  #info-wrapper{
    display: grid;
    grid-template-columns: repeat(2,auto);
    padding: calc(var(--big-padding)*4) var(--big-padding);
    }
  .comic-img{
      grid-column: 2;
      grid-row: 1;
    }

.comic-img img{
  width: 250px ;
  height: 300px;
}

.comic-detail{
  grid-column: 1;
  grid-row: 1;
}
#comic-vid-detail{
  display: grid;
  /* grid-area: item3; */
  grid-area: 3 /1 / span 1 / span 2;
 margin: 0px 0px;
 width: 100%;
}
  
#comic-extra-details{
width: 100%;
}

#trailer
{
  width: 100%;
  height: 500px;
}
  
  
  #search-icon{
    display: block;
  }
  .search-container{
    display: none;
  }
  .sub-header{
   position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,auto);
    grid-template-areas: 
        "item1 item2 item3 item4 item5"
        "item6 item6 item6 item6 item6";
    
    
    padding: var(--small-padding) var(--small-padding);
    justify-content: space-between;
  }
  .search-container2{
    
    display: flex;
    justify-content: center;
    top: 145px;
    height: 50px;
    position:absolute;
    width: 100%;
    background-color:lightgrey;
    overflow: hidden;
  
  }

  .comic-search{
    height: 40px;
    width: 90%;
    border-style: none;
    padding: var(--small-padding);
    border-radius: 10px 10px 10px 10px;
    
  }

  #search-icon2{
    display: none;
   background-color: white;
   position: relative;
   top: 0px;
  
   
   
   
  }


  
  #main-content-wrapper
  {
    display: grid;
    grid-template-columns: repeat(1,auto);
  }
  .recommended-card
  {
    display: grid;
    grid-template-columns: 200px 500px;
    
    gap: 0px;
  }
  .recommended-comic-poster{
    
    padding: 0px;
    margin: 0px;
  }
}

@media only screen and (max-width: 885px)
{
 .comic-img{
  grid-column: 1;
  grid-row: 1;
  justify-content: center;
  display: grid;
  
  margin: 0px 0px;
 }

 .comic-img img{
   width: auto;
   height:250px;
 }
 
 .comic-name{
  justify-content: center;
  
  justify-content: center;
  display: grid;
  margin: 0px 0px;
 }

.read-save-button{
   justify-content: center ; 
  display: grid ;
  gap: 20px;

margin: auto auto;
} 
  
.bookmark-container{
  margin-right: auto;
}


 .comic-detail
 {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width:auto;
  
 }
 #comic-vid-detail{
  
  grid-row: 3;
 }

 #trailer{display: none;}
 
 #main-content{
  width:auto;
 }
   
}

@media only screen and (min-width:730px){
  #description {
    display: -webkit-box !important;
  }
  #comic-extra-details{
    display: grid  !important;
  }
  #readMoreLink{
    display: grid  !important;
  }
}

@media only screen and (max-width: 730px)
{
  #description {
    display: none ;
  }
  #comic-extra-details{
    display: none  ;
  }
  #readMoreLink{
    display: none ;
  } 
  #info-wrapper{
  justify-content: center;
  }
  #details-toggle{
  display: grid;
  }

#details-toggle-container{
  display: grid; 
  justify-content: center;
  grid-row:4 ;
}
.footer-logo{
  padding-top: 10px;
  padding-bottom: var(--big-padding);
}
}

@media only screen and (max-width: 575px){
  #socila-media{
      display: none;
  }
}

