:root{
  --big-padding: 20px;
  --small-padding: 10px;
}

body{ position: relative;
margin: 0px 0px;
a{text-decoration: none;}
}

button{
  cursor: pointer;
}

header
{
  background-color: lightgrey;
  padding-bottom: var(--big-padding);
 
}

#first-header{
  display: flex;
  background-color: darkgray;
  color: white;
  align-items: center;
  padding: var(--small-padding) var(--big-padding);

  height: 40px;
}

#header-random-read{
  margin-right: auto;
   cursor: pointer;
}


#first-header a{
  color: white;
}

#dark-mode-container{
  display: flex;
  align-items: center;
  height: 80%;
 padding-left: calc(var(--small-padding)*4);
  margin-left: var(--big-padding);
   border-left: solid;
  border-width: 0.5px;
}

.dark-mode{
 
  /* border: solid; */
  display: flex;
  align-items: center;
  
  cursor: pointer;
}

#dark-mode-icon-container{
  margin-right: var(--small-padding);
  
 
}


#socila-media :nth-child(3)
{
  margin-left:var(--small-padding) ;
  margin-right: var(--small-padding);
  
  
}

#socila-media :nth-child(2)
{
  margin-left:var(--small-padding) ;
  margin-right: var(--small-padding);
}



.sub-header{
  display: flex;
  align-items: center;
  
  padding: var(--small-padding) var(--small-padding);
  justify-content: space-between;
}
.header-logo {
  padding: 0px var(--big-padding) ;
  img {
  height: 100px;
  width: 100px;
}}
.dropdown-container {
  position: relative;
  display: inline-block;
  margin-right: 80px;
  
}

.dropdown-btn {
  background-color: inherit;
  color: black;
  /* padding: 10px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  pointer-events: none;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  /* padding: 5px 3px; */
  border-radius: 10px 10px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  border-radius: 5px 5px;
  
  margin: 20px;
  display: block;
  transition:background-color 0.3s ease;
}
.dropdown-container :hover .dropdown-btn{
 color: yellow;
}
.dropdown-content a:hover {
  background-color: lightgrey; 
}

.dropdown-container:hover .dropdown-content {
  display: block;}

#comic-search-bar{
  margin-right: var(--small-padding);
  background-color: red;
  
}

.comic-search{
  height: 40px;
  width: 300px;
  /* border-radius: 10px; */
  border-style: none;
  padding: var(--small-padding);
}

#comic-search-bar input:focus {
  border: none;
  outline: none; /* This removes the outline when focused, adjust as needed */
}


   
    
    #info-wrapper{
        display: grid;
        grid-template-columns: repeat(3,auto);
        background-color: rgb(127, 124, 124);
        padding: calc(var(--big-padding)*4) var(--big-padding);
        
        
    }

   
    .comic-img img{
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        height: 280px;
        width: 180px;
    }
    .comic-detail
    {
        width:600px;
        height: 100px;
        
    }
    #comic-extra-details{
 margin-bottom: 50px;
    }
    #comic-vid-detail{
        display: grid;
        
        margin-left: 50px;
    }
    #trailer{
      width: 500px;
      height: 250px;
      border-radius: 20px;
      border-left: solid white;
      overflow: hidden;
         }
    #trailer video{
      /* border-left: solid white; */
      
    height: 100%;
    width: 100%;
    object-fit: cover;
      /* border-radius: 20px; */
     
  }        
    #main-content-wrapper{
     
      padding: var(--big-padding) var(--big-padding);
      display: grid;
      grid-template-columns: 70% 30%;
      gap: 20px;
    }
    .chapter-content{
       
        background-color: gainsboro;
        /* padding: var(--small-padding); */
        margin-right: var(--small-padding);
        /* border-radius: 20px; */
        
     }
     

     .chapter-list{
        /* margin-top: var(--big-padding); */
        display: grid;
     }
.chapter-list{
    /* background-clip: border-box; */
    display: grid;
    gap: 2px;
}
#chapter-list-header{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}
#chapter{
  margin: var(--small-padding);
}
     .chapters{
        display: flex;
        justify-content: space-between;
        /* border-bottom: dashed;
        border-width: 2px; */
        /* border-color: lightgray; */
        padding: var(--big-padding) 0px;
        background-color: darkgray;
        

     }
     .chapters button{
        margin-right: var(--small-padding);
        border-radius: 5px;
        border: none;
     }
     .chapters:hover{
        background-color: gray;
        padding: var(--big-padding) 0px;
     }
     .chapters:hover button{
       background-color:red;
       border: none;
       margin-right: var(--small-padding);
     }

    .recommended-list{
        /* background-color: gainsboro; */
        /* border-radius: 20px; */
        /* padding: var(--big-padding); */
        /* background-color: red; */
        display: grid;
        gap: 10px;
    }
    .recommended-heading{
        text-transform: capitalize;
    }
    .recommended-card{
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2,auto)
    
    }

   

    footer{
        background-color: lightgray;
        padding: calc(var(--small-padding)*1.5) var(--big-padding) calc(var(--big-padding)*3) 0px;
      }
      .footer-logo{
        text-align: center;
        padding-top: var(--big-padding);
        padding-bottom: var(--big-padding);
      }
      @media only screen and (max-width: 750px) {
        .footer-logo{
          padding-top: 10px;
          padding-bottom: var(--big-padding);
        }
      }
      .footer-logo a{
        display: inline-block;
      }
      
      .footer-logo img {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }

    
      
      .other-webpages{
        display: flex;
        justify-content: space-evenly;
        margin-left: 60px;
      }
      
      .read-save-button{
        display: grid;
        grid-template-columns: repeat(2,auto);
      }
      
      .bookmark-container{
        margin-right: 380px;
      }
      .bookmark-container button{
        height: 40px;
        width: 50px;
        border-radius: 10px;
        border-style: none;
        background-color: white;
      }
      .bookmark-container button:hover { 
        background-color: pink;
      }
      .read-container button{
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border-style: none;
      }
      #chapter-search-bar{
        height: 50px;
       
        display: flex;
        /* background-color: blue; */
        
        align-items: center;
       
  
      }
      

      .chapter-search-container{
        background-color: red;
      }
      #chapter-search{
        /* height: 40px; */
        /* width: 300px; */
        
        background-color: lightgrey;
        
        border-radius: 2px;
        border-style: none;
        padding: var(--small-padding) ;
        margin:  0 var(--small-padding) ;
      }
      
      #chapter-search-bar input:focus {
        border: none;
        outline: none; /* This removes the outline when focused, adjust as needed */
      }
      
 
.dark-body .chapter-content{
    background-color: #1a1a1a;
    
}
.dark-body #first-header{
  background-color: yellow;

}

  
#details-toggle{
  display: none;
}

#myModal {
  
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
  
}
.modal-content-container{
  position: relative;
  top: 20px;
  border-radius: 20px;
  background-color: white;
  overflow: scroll;
}
.modal-title{
  position: relative;
  display: block;
  padding: 30px 30px 0;
 h2{
  text-align: center;
 }
  
}

.modal-content {
  
  padding: 20px;
  max-width: 300px;
  width: 100%;
  /* overflow: auto; */
}

/* Additional styling for close button (optional) */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#description{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#closeModal{
  justify-self: right;
  cursor: pointer;
  
  
  
}

.modal-close-button{
   top: 0;
   right: 0;
   position: absolute;
   justify-content: right;
   border-radius: 0 20px 0 20px;
   /* border: solid pink; */
   border-style: none;
   width: 40px;
   height: 40px;
   font-size: 1.5rem;
   font-weight: 700;
 
}

body.modal-open {
  overflow: hidden;
}
.search-container{
  display: flex;vertical-align: center;
  background-color: purple;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  width: 600px;
  align-items: center;
  /* height: 200px; */

}
#search-icon{
  display: none;
}
#search-icon2{background-color:yellow;
}

.bookmark-container:hover .fa-bookmark::before{
  content: "\f02e";
  font-family: 'Font Awesome 5 Free';
}

#loginModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

#registrationModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 1000;
}

.search-container2{
  display: none;
}

