:root{
    --big-padding: 20px;
    --small-padding: 10px;
  }
  body{ position: relative;
  margin: 0px 0px;
  a{text-decoration: none;}}
  header
  {
    background-color: lightgrey;
   
  }
  
  #first-header{
    display: flex;
    background-color: darkgray;
    color: white;
    justify-content: right;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
   
  }
  
  .header-socialmedia a{
    color: white;
  }
  .header-socialmedia :nth-child(1)
  {
   margin-right: var(--big-padding);
  }
  .header-socialmedia :nth-child(2)
  {
   margin-right: var(--small-padding);
  }
  .header-socialmedia :nth-child(3)
  {
   margin-right: var(--small-padding);
  }
  .sub-header{
    display: flex;
    align-items: center;
    padding: var(--small-padding) var(--small-padding);
    justify-content: space-between;
  }
  .header-logo {
    padding: 0px var(--big-padding) ;
    img {
    height: 100px;
    width: 100px;
  }}

  
  .dropdown-container {
    position: relative;
    display: inline-block;
    margin-right: 80px;
    
  }
  
  .dropdown-btn {
    background-color: inherit;
    color: black;
    /* padding: 10px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    pointer-events: none;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* padding: 5px 3px; */
    border-radius: 10px 10px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    border-radius: 5px 5px;
    
    margin: 20px;
    display: block;
    transition:background-color 0.3s ease;
  }
  .dropdown-container :hover .dropdown-btn{
   color: yellow;
  }
  .dropdown-content a:hover {
    background-color: lightgrey; 
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;}

   
    
    #info-wrapper{
        display: grid;
        grid-template-columns: repeat(3,auto);
        background-color: rgb(127, 124, 124);
        padding: calc(var(--big-padding)*4) var(--big-padding);
        
        
    }

   
    .comic-img img{
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        height: 280px;
        width: 180px;
    }
    .comic-detail
    {
        width:600px;
        height: 200px;
        
    }
    #comic-extra-details{
 margin-bottom: 50px;
    }
    #comic-vid-detail{
        display: grid;
        
        margin-left: 50px;
    }
    #trailer{
      
        video{
            border: solid white;
            border-radius: 20px;
            width: 300px;
            height: 250px;
           
        }    }
    #main-content-wrapper{
     
      padding: var(--big-padding) var(--big-padding);
      display: grid;
      grid-template-columns: 80% 20%;
    }
    .chapter-content{
       
        background-color: gainsboro;
        padding: var(--small-padding);
        margin-right: var(--small-padding);
        border-radius: 20px;
        
     }
     

     .chapter-list{
        margin-top: var(--big-padding);
        display: grid;
     }
.chapter-list{
    background-clip: border-box;
}
     .chapters{
        display: flex;
        justify-content: space-between;
        border-bottom: dashed;
        border-width: 2px;
        border-color: lightgray;
        padding: var(--big-padding) 0px;
        

     }
     .chapters button{
        margin-right: var(--small-padding);
        border-radius: 5px;
        border: none;
     }
     .chapters:hover{
        background-color: gray;
        padding: var(--big-padding) 0px;
     }
     .chapters:hover button{
       background-color:red;
       border: none;
       margin-right: var(--small-padding);
     }

    .recomended-list{
        background-color: gainsboro;
        border-radius: 20px;
        padding: var(--big-padding);
    }
    .recomended-heading{
        text-transform: capitalize;
    }
 
    footer{
        background-color: lightgray;
        padding: calc(var(--small-padding)*1.5) var(--big-padding) calc(var(--big-padding)*3) 0px;
      }
      .footer-logo{
        text-align: center;
        padding-top: var(--big-padding);
        padding-bottom: var(--big-padding);
      }
      @media only screen and (max-width: 750px) {
        .footer-logo{
          padding-top: 10px;
          padding-bottom: var(--big-padding);
        }
      }
      .footer-logo a{
        display: inline-block;
      }
      
      .footer-logo img {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }

    
      
      .other-webpages{
        display: flex;
        justify-content: space-evenly;
        margin-left: 60px;
      }
      
      .read-save-button{
        display: grid;
        grid-template-columns: repeat(2,auto);
      }
      
      .bookmark-container{
        margin-right: 380px;
      }
      .bookmark-container button{
        height: 40px;
        width: 50px;
        border-radius: 10px;
        border-style: none;
        background-color: white;
      }
      .bookmark-container button:hover { 
        background-color: pink;
      }
      .read-container button{
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border-style: none;
      }

      

      
 
.dark-mode .chapter-content{
    background-color: #1a1a1a;
}
.dark-mode #first-header{
  background-color: yellow;

}

  