:root{
    --big-padding: 20px;
    --small-padding: 10px;
  }

  
  button{
    height: 30px;
    width: 100px;
    border-style: none;
    border-radius:4px;
    cursor: pointer;
    background-color: gray;
  
    
  }

  body{ position: relative;
  margin: 0px 0px;
  background-color: rgb(15, 15, 15);
  a{text-decoration: none;}
  
}

  .header{
    position: fixed;
    display: flex;
    padding: var(--big-padding) 50px;
    height: 50px;
    grid-template-columns:repeat(4,1fr);
    background-color: rgb(26, 25, 25);
    align-items: center;
    gap: 100px;
    
  }

  .logo {

    margin: 0px 5px ;
    /* border: solid; */
    
    img {
    height: 50px;
    width: 80px;
    
  }}
  .info-page{
    display: flex;
    align-items: center;
    border-left: solid;
    border-color: white;
    padding: var(--big-padding);
    border-width: 1px;

  }
  #dropdown-content{
  background-color: white;
  margin-top: 33px;
  overflow: hidden;
  }
  #list-search{
    display: flex;
    margin-left: 1px;
    width: 99.5%;
    height: 40px;
    box-shadow: 0 0 5px gray ;
    border-width:1px ;
    align-items: center;
    
  }
  #list-search input{
   border-style: none;
   width: auto;
  }
  #search-icon{
    margin: 0 10px 0 10px;
  }
  
  input:focus{ 
    border-style: none;
    width: auto;
   }
   
  .chapter-nav-list{
    display:grid;
    align-items: center;
  }
  
  #dropdown-content ul {
    display:grid;
    background-color: rgb(222, 216, 216);
    grid-template-columns: repeat(3, auto); 
    grid-gap: 5px; 
    padding: 10px; 
    list-style: none;
    margin: 0;
}

#chapterList a:hover{
    
    border-left: solid;
}
.chapter-container{
 border-left:solid white;
 background-color: lightyellow;
}
.chapter-container:hover{
  background-color: red;
  
  border-left: solid pink;
  transition: background-color 0.8s ease;
  transition: border-left-color 0.8 s ease; 
}
  .top-nav{
    display:grid;
    align-items: center;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
  }
  .container{
    margin: var(--big-padding) calc(var(--big-padding)*6);
    display: grid;
    justify-content: center;
  }
  .panel{
    margin: var(--big-padding);
    width: 100%;
  }
  .container2{
    display: grid;
    justify-content: center;
    margin: var(--big-padding) 0px 50px 0px;
   
  }
  .bottom-nav{
    display: flex;
    justify-content: space-between;
    position:relative;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    align-items: center;
    width: 800px;
  }
  .bottom-next-button{
   margin: var(--small-padding) var(--small-padding);
   
  }
  
  .bottom-next-button button{
    position: relative;
    padding: var(--small-padding);
    width: 150px;
  }
  .bottom-previous-button{
    margin: var(--small-padding) var(--small-padding);
    display: flex;
    align-items: center;
   }
   .bottom-previous-button button{
     position: relative;
     padding: var(--small-padding);
     width: 150px;
   }
  #dropdown-content{
    display: none;
    position: absolute;
  }

 

.panel img{
  width: 900px;
  height: 1000px;
}