:root{
    --big-padding: 20px;
    --small-padding: 10px;
  }

  body{ position: relative;
  margin: 0px 0px;
  background-color: lightgrey;
  align-content: center;
  a{text-decoration: none;}}
 
  .header{
    position: relative;
    display: grid;
    border: solid;
    margin:auto;
    height: 50px;
    grid-template-columns:repeat(4,1fr);
    background-color: rgba(0, 0, 0, 0.856);

    align-items: center;
    
  }

  .logo {

    padding: 0px var(--big-padding) ;
    
    
    img {
    height: 50px;
    width: 100px;
    
  }}
  .info-page{
    display: flex;
    align-items: center;
    border-left: solid;
    border-color: blue;
    padding: var(--small-padding);

  }
  .chapter-nav-list{
    display:grid;
    align-items: center;
  }
  
  #dropdown-content ul {
    display:grid;
    background-color:yellow;
    grid-template-columns: repeat(1, auto); 
    grid-gap: 5px; 
    padding: 10px; 
    list-style: none;
    margin: 0;
}

#chapterList a:hover{
    
    border-left: solid;
}
.chapter-container{
 border-left:solid white;
 background-color: lightyellow;
}
.chapter-container:hover{
  background-color: red;
  
  border-left: solid pink;
  transition: background-color 0.8s ease;
  transition: border-left-color 0.8 s ease; 
}
  .top-nav{
    display:grid;
    align-items: center;
    grid-template-columns: repeat(2,auto);
  }
  .container{
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: center;
  }
  .panel{
    display: flex;
    justify-content: center;
  }
  .panel img{
    width: 90%;
  }
  .container2{
    display: grid;
    
    justify-content: center;
    margin: var(--big-padding);
    background-color:aqua;
    
  }
  .bottom-nav{
    display: flex;
    justify-content: right;
    position:relative;
    background-color: grey;
    border-radius: 10px;
    
    width: 100%;
  }
  .bottom-next-button{
   margin: var(--small-padding) var(--small-padding)
   
  }
  .bottom-next-button button{
    position: relative;
    border-style: none;
    border-radius: 10px;
    padding: var(--small-padding);
    width: 150px;
  }
  .bottom-previous-button{
    margin: var(--small-padding) var(--small-padding)
    
   }
   .bottom-previous-button button{
     position: relative;
     border-style: none;
     border-radius: 10px;
     padding: var(--small-padding);
     width: 150px;
   }
  #dropdown-content{
    display: none;
    position: absolute;
  }