body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 255, 180);
    min-height: 100vh;
}
.container
{
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(25, 255, 156);
    padding: 20px 20px;
    
}

h2{
    text-transform: uppercase;
    font-family:monospace;
    font-size: 5vh;
    color: white;
}

.restart-button{
padding: 20px;
background-color: black;
color:rgb(25, 255, 180);
text-transform: uppercase;
border-style: double;
border-color: white;
font-family: 'Courier New', Courier, monospace;

}
.restart-button:focus
{
    background-color:darkgreen ;
    color:black
}

.game{
width: 350px;
height: 350px;
display: flex;
flex-wrap: wrap;
gap: 10px;
color: black;
align-items: center;
justify-content: space-around;
background-color: rgb(25, 255, 156);

}

.item{
    position: relative;
    display: flex;
    width:70px;
    height:70px;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: white;
    transition: 1s;
    transform: rotateY(180deg);
    
    
    
    

}  
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: black;
    transition: 1s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-style: groove;
    border-color: white;
    
   
}
.boxOpen:after ,.boxMatch:after 
{
    transform: rotateY(180deg);
   
}
.boxMatch{
    transform: rotateY(0deg);
    /* background-color: rgb(104, 207, 104); */
    opacity: 40%;
    
}

.item.boxOpen
{
    transform: rotateY(0deg);
    transition: 1s;
}

.cele
{
    position: absolute;
    background-color: aqua;
    padding: 50px;
    border-radius: 40% 80%;
    border-width:2px;
    border-color: blue;
     border-style: double;

}

